*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-family: 'Merriweather', serif;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: lightgrey;
}

.clear{
  clear:both;
}

/* MENÚ NORMAL */

.normal{
  background-color: white;
  width:100%;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
}

.normal ul{
  list-style-type: none;
}

.normal ul li a{
  text-decoration: none;
  display: block;
  float: left;
  text-align: center;
  color:black;
  background-color: white;
  width:25%;
  padding-top: 20px;
  padding-bottom: 20px;
}



nav ul li a:hover{
  color:white;
  background-color: black;
}

/* MENÚ MÓVIL */


input:checked  ~ ul{
  display:block;
}

input {
  display: none;
}

label {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}


label:hover{
  background: grey;
}


input:checked ~ label {
  background: lightgrey;
}

.movil ul{
  margin-top:0;
  padding: 0;
  width: 200px;
  display: none;
}

.movil ul li {
  display: block;
  background: lightgrey;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid grey;
}


.movil ul li:hover {
  filter: brightness(110%);
}

.movil {
  display: none;
  font-family: 'Fira Sans Condensed';
}

/*SLIDER*/

.slider{
  overflow: hidden;
  position: relative;
  height:1000px;
}
.slider li{
  list-style: none;
  width:100%;
}

.slider ul{
  display: flex;
  width:100%;
  animation: canvi 15s infinite alternate;
}

.slider img{
  background-size: cover;
  margin: 0;
}


@keyframes canvi{
  0%{margin-left: 0%;}
  20%{margin-left: 0%;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}
}


/*CONTENIDO CENTRAL*/

#contenedorhome{
  width:100%;
  height:840px;
  padding-top: 30px;
  padding-left: 2%;
  background-color: lightgrey;
  background-image: url(FOTOS/comidas.png);
  }

.modulos{
  width:35%;
  height:190px;
  margin:1%;
  padding:1%;
  float: left;
  background-color: #292A2A;
  margin-left: 140px;

}

.imagenes{
  background-image: url(FOTOS/POLLO.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  width:39.5%;
  height:195px;

}

.imagenesdos{
  background-image: url(FOTOS/FAJITAS.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  width:39.5%;
  height:195px;
}


.imagenestres{
  background-image: url(FOTOS/POKE.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  width:39.5%;
  height:195px;
  padding-bottom: 0%;
  padding-left: 0%;
}

#uno{
  transition: transform .2s;
  background-color:white;
}
#uno:hover{
  transform: scale(1.3);
}

#cuatro{
  transition: transform .2s;
  background-color: white;
}
#cuatro:hover{
  transform: scale(1.3);
}

#cinco{
  transition: transform .2s;
  background-color: white;
}
#cinco:hover{
  transform: scale(1.3);
}

/*SOBRE NOSOTROS*/

#nosotros{
  height:405px;
  width:100%;
  background-color: black;
  color:white;
  font-size:45px;
  font-family: 'Merriweather';
  font-weight: 900;
  font-style: italic;
  padding-left: 2%;
  padding-top: 3%;
  text-align: center;
}

#textnosotros{
  font-family: 'Merriweather';
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  text-align: justify;
  padding-left: 2%;
  padding-right: 7%;
  padding-top: 1%;
}

a:link, a:visited, a:active{
  text-decoration: none;
  color:black;
}


/* FOOTER */

#footer{
  width:100%;
  height:196px;
  background-color: white;
  color:black;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 100;
  font-style: normal;
  padding-left: 3%;
  padding-top: 1%;
}

#esloganfinal{
  width:100px;
  height:79px;
  background-color: white;
  font-size: 23px;
  margin: auto;
  text-align: center;
  color: black;
  font-family: 'Roboto';
  font-style: Thin;
  font-weight: 100;
  font-style: italic;
}

/*HOME RECETAS*/

#pollohome{
  font-family: 'ITC Garamond Std';
  font-weight:700;
  font-size: 30px;
  color:white;
}

#pollohomedos{
  font-family: 'Cormorant Garamond';
  font-size: 25px;
  padding-top: 4%;
  font-weight: 600;
  color:white;
}

#wrapshome{
  font-family: 'ITC Garamond Std';
  font-weight:700;
  font-size: 30px;
  color:white;
}

#wrapshomedos{
  font-family: 'Cormorant Garamond';
  font-size: 25px;
  padding-top: 4%;
  font-weight: 600;
  color:white;
}

#pokehome{
  font-family: 'ITC Garamond Std';
  font-weight:700;
  font-size: 30px;
  color:white;
}

#pokehomedos{
  font-family: 'Cormorant Garamond';
  font-size: 25px;
  padding-top: 4%;
  font-weight: 600;
  color:white;
}



/* RECETAS */

#titulo{
  height:355px;
  width:100%;
  background-color: black;
  color:white;
  text-align: center;
  font-size: 160px;
}

#contreceta{
  background-color: lightgrey;
  width:100%;
  height:3100px;
  background-image: url(FOTOS/comidas.png);
}

.recetas{
  margin-top: 20px;
}

.image{
  display: block;
  width: 30%;
  border: black 2px solid;
}

.overlay{
  bottom: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.5);
  color: #f1f1f1;
  width:30%;
  transition: .5s ease;
  opacity: 0;
  color:white;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.recetas a{
  display: block;
  width:100%;
  height:100%;
}


/*POKE VEGETARIÀ*/

#contpoke{
  width:100%;
  height:500px;
  background-image: url(FOTOS/comidas.png);
}

#pokefinal{
  margin:0 auto;
  display: block;
  margin-top: 20px;
  text-align: center;
}

#titpoke{
  font-size: 100px;
  margin: auto;
  text-align: center;
  color:white;
  background-color: black;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#listapoke{
  font-size: 27px;
  font-family: 'Merriweather';
  padding-left: 42px;
  background-color: white;
  width:557px;
  margin-top: 2%;
  margin-left:170px;

}

video{
  text-align: right;
  display: block;

  margin-left: 170px;
}


#contpokedos{
  background-image: url(FOTOS/comidas.png));
}

#ingrepoke{
  margin-left: 900px;
  width:100%;
  height:400px;
  position: absolute;
}

#recetapoke{
  font-size: 22.7px;
  margin-left: 900px;
  position: absolute;
  margin-bottom: 200px;
  display: block;
  margin-top: -340px;
  background-color: black;
  color:white;
  z-index: 1;
  padding:15px;
  width:715px;
font-family: 'Merriweather';



}


/*POLLO*/

#contpollo{
  width:100%;
  height:500px;
  background-image: url(FOTOS/comidas.png);
}



#titpollo{
  font-size: 100px;
  margin: auto;
  text-align: center;
  color:white;
  background-color: black;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#listapollo{
  font-size: 27px;
  font-family: 'Merriweather';
  padding-left: 42px;
  background-color: white;
  width:557px;
  margin-top: 2%;
  margin-left:170px;

}

video{
  text-align: right;
  display: block;

  margin-left: 170px;
}


#contpollodos{
  background-image: url(FOTOS/comidas.png));
}

#ingrepollo{
  margin-left: 900px;
  width:100%;
  height:400px;
  position: absolute;
}

#recetapollo{
  font-size: 22.7px;
  margin-left: 900px;
  position: absolute;
  margin-bottom: 200px;
  display: block;
  margin-top: -340px;
  background-color: black;
  color:white;
  z-index: 1;
  padding:15px;
  width:715px;
  font-family: 'Merriweather';

}

/*FIDEUS*/

#contfideus{
  width:100%;
  height:500px;
  background-image: url(FOTOS/comidas.png);
}



#titfideus{
  font-size: 100px;
  margin: auto;
  text-align: center;
  color:white;
  background-color: black;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#listafideus{
  font-size: 27px;
  font-family: 'Merriweather';
  padding-left: 42px;
  background-color: white;
  width:557px;
  margin-top: 2%;
  margin-left:170px;

}

video{
  text-align: right;
  display: block;

  margin-left: 170px;
}


#contfideusdos{
  background-image: url(FOTOS/comidas.png));
}

#ingrefideus{
  margin-left: 900px;
  width:100%;
  height:400px;
  position: absolute;
}

#recetafideus{
  font-size: 22.7px;
  margin-left: 900px;
  position: absolute;
  margin-bottom: 200px;
  display: block;
  margin-top: -340px;
  background-color: black;
  color:white;
  z-index: 1;
  padding:15px;
  width:715px;
  font-family: 'Merriweather';
}


/*PEPE*/

#contpepe{
  width:100%;
  height:500px;
  background-image: url(FOTOS/comidas.png);
}

#titpepe{
  font-size: 100px;
  margin: auto;
  text-align: center;
  color:white;
  background-color: black;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  height:100px;
}

#listapepe{
  font-size: 27px;
  font-family: 'Merriweather';
  padding-left: 42px;
  background-color: white;
  width:557px;
  margin-top: 2%;
  margin-left:170px;
}

video{
  text-align: right;
  display: block;
  margin-left: 170px;
}


#contpepedos{
  background-image: url(FOTOS/comidas.png);
}

#ingrepepe{
  margin-left: 900px;
  width:100%;
  height:400px;
  position: absolute;
}

#recetapepe{
  font-size: 22.7px;
  margin-left: 900px;
  position: absolute;
  margin-bottom: 200px;
  display: block;
  margin-top: -340px;
  background-color: black;
  color:white;
  z-index: 1;
  padding:15px;
  width:715px;
  font-family: 'Merriweather';
}



/*COQUITOS*/

#contcoquitos{
  width:100%;
  height:500px;
  background-image: url(FOTOS/comidas.png);
}

#titcoquitos{
  font-size: 100px;
  margin: auto;
  text-align: center;
  color:white;
  background-color: black;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#listacoquitos{
  font-size: 27px;
  font-family: 'Merriweather';
  padding-left: 42px;
  background-color: white;
  width:557px;
  margin-top: 2%;
  margin-left:170px;

}

video{
  text-align: right;
  display: block;

  margin-left: 170px;
}


#contcoquitosdos{
  background-image: url(FOTOS/comidas.png));
}

#ingrecoquitos{
  margin-left: 900px;
  width:100%;
  height:400px;
  position: absolute;
}

#recetacoquitos{
  font-size: 22.7px;
  margin-left: 900px;
  position: absolute;
  margin-bottom: 200px;
  display: block;
  margin-top: -340px;
  background-color: black;
  color:white;
  z-index: 1;
  padding:15px;
  width:715px;
  font-family: 'Merriweather';
}


/*PALOS DE FORMATGE*/

#contpals{
  width:100%;
  height:500px;
  background-image: url(FOTOS/comidas.png);
}

#titpals{
  font-size: 100px;
  margin: auto;
  text-align: center;
  color:white;
  background-color: black;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#listapals{
  font-size: 27px;
  font-family: 'Merriweather';
  padding-left: 42px;
  background-color: white;
  width:557px;
  margin-top: 2%;
  margin-left:170px;

}

video{
  text-align: right;
  display: block;

  margin-left: 170px;
}


#contpalsdos{
  background-image: url(FOTOS/comidas.png));
}

#ingrepals{
  margin-left: 900px;
  width:100%;
  height:400px;
  position: absolute;
}

#recetapals{
  font-size: 22.7px;
  margin-left: 900px;
  position: absolute;
  margin-bottom: 200px;
  display: block;
  margin-top: -340px;
  background-color: black;
  color:white;
  z-index: 1;
  padding:15px;
  width:715px;
  font-family: 'Merriweather';
}



/*WRAPS*/

#contwraps{
  width:100%;
  height:500px;
  background-image: url(FOTOS/comidas.png);
}

#titwraps{
  font-size: 100px;
  margin: auto;
  text-align: center;
  color:white;
  background-color: black;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#listawraps{
  font-size: 27px;
  font-family: 'Merriweather';
  padding-left: 42px;
  background-color: white;
  width:557px;
  margin-top: 2%;
  margin-left:170px;

}

video{
  text-align: right;
  display: block;

  margin-left: 170px;
}


#contwrapsdos{
  background-image: url(FOTOS/comidas.png));
}

#ingrewraps{
  margin-left: 900px;
  width:100%;
  height:400px;
  position: absolute;
}

#recetawraps{
  font-size: 22.7px;
  margin-left: 900px;
  position: absolute;
  margin-bottom: 200px;
  display: block;
  margin-top: -340px;
  background-color: black;
  color:white;
  z-index: 1;
  padding:15px;
  width:715px;
  font-family: 'Merriweather';
}



/*BURRITOS*/

#contburritos{
  width:100%;
  height:500px;
  background-image: url(FOTOS/comidas.png);
}

#titburritos{
  font-size: 100px;
  margin: auto;
  text-align: center;
  color:white;
  background-color: black;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#listaburritos{
  font-size: 27px;
  font-family: 'Merriweather';
  padding-left: 42px;
  background-color: white;
  width:557px;
  margin-top: 2%;
  margin-left:170px;

}

video{
  text-align: right;
  display: block;

  margin-left: 170px;
}


#contburritosdos{
  background-image: url(FOTOS/comidas.png));
}

#ingreburritos{
  margin-left: 900px;
  width:100%;
  height:400px;
  position: absolute;
}

#recetaburritos{
  font-size: 22.7px;
  margin-left: 900px;
  position: absolute;
  margin-bottom: 200px;
  display: block;
  margin-top: -340px;
  background-color: black;
  color:white;
  z-index: 1;
  padding:15px;
  width:715px;
  font-family: 'Merriweather';
}



/* RESPONSIVO */

@media only screen and (max-width:450px){
  .normal{
    display: none;
  }
  .movil{
    display: block;
  }
  #contenedorhome{
    height:1200px;
    padding-left:0px;
    width:100%;
    background-color: lightgrey;
  }
  #slider{
    font-size: 100px;
    text-align: center;
    padding-top: 40px;
    height:360px;
  }
  .modulos{
    margin-left: 0px;
    width:100%;
    height:220px;
    background-color: #292A2A;
  }
  #pokehome{
    text-align: center;
  }
  #pollohome{
    text-align: center;

  }
  #wrapshome{
    text-align: center;

  }
  body{
    overflow-x: hidden;
  }
  #nosotros{
    height:1080px;
    font-size: 40px;
    padding-top: 7%;
    margin-top: 6%;
  }
  #textnosotros{
    text-align: center;
  }

  #footer{
    padding-top:2%;
    height:250px;
  }
  #esloganfinal{
    padding-top: 2%;
  }

  #uno{
    transition: none;
    background-image: url(FOTOS/POLLORES.jpg);
    background-repeat: no-repeat;
  }
  .imagenes{
    background-image: none;
  }
  #uno:hover{
    transform: none;
  }
  #cuatro{
    transition: none;
    background-image: url(FOTOS/FAJITASRES.jpg);
    background-repeat: no-repeat;
  }
  .imagenesdos{
    background-image:none;
  }
  #cuatro:hover{
    transform: none;
  }
  #cinco{
    transition: none;
    background-image: url(FOTOS/POKERES.jpg);
    background-repeat: no-repeat;
  }
  .imagenestres{
    background-image: none;
    }
  #cinco:hover{
    transform: none;
  }
  #pollohomedos{
    text-align: center;
  }
  #pokehomedos{
    text-align: center;
  }
  #wrapshomedos{
    text-align: center;
  }
  .slider{
    width:450px;
    height:300px;
  }
  .slider img{
    width:450px;
    height:300px;
  }

#titulo{
  height:200px;
  font-size: 50px;
}
#contreceta{
  height:2000px;
}

.recetas img{
  width:80%;
}

#titpepe{
  height:100px;
  font-size: 50px;
}

#listapepe{
  width:90%;
  font-size: 20px;
  margin: 0 auto;
}

video{
  height:100;
  width:90%;
  margin: 0 auto;

}

#recetapepe{
  font-size: 20px;
  height:500px;
  width:100%;
  margin: 0 auto;
  margin-top: 70px;
  padding-right: 40px;

}

#contpepedos{
  height:700px;
}

#titburritos{
  height:100px;
  font-size: 50px;
}

#listaburritos{
  width:90%;
  font-size: 20px;
  margin: 0 auto;
}

video{
  height:100;
  width:90%;
  margin: 0 auto;

}

#recetaburritos{
  font-size: 20px;
  height:300px;
  width:100%;
  margin: 0 auto;
  margin-top: 70px;
  padding-right: 40px;

}

#contburritosdos{
  height:700px;
}
#titcoquitos{
  height:70px;
  font-size: 50px;
}

#listacoquitos{
  width:90%;
  font-size: 20px;
  margin: 0 auto;
}

video{
  height:100;
  width:90%;
  margin: 0 auto;

}

#recetacoquitos{
  font-size: 20px;
  height:250px;
  width:100%;
  margin: 0 auto;
  margin-top: 70px;
  padding-right: 40px;

}

#contcoquitosdos{
  height:700px;
}
#titwraps{
  height:100px;
  font-size: 50px;
}

#listawraps{
  width:90%;
  font-size: 20px;
  margin: 0 auto;
}

video{
  height:100;
  width:90%;
  margin: 0 auto;

}

#recetawraps{
  font-size: 20px;
  height:350px;
  width:100%;
  margin: 0 auto;
  margin-top: 70px;
  padding-right: 40px;

}

#contwrapsdos{
  height:700px;
}
#titfideus{
  height:100px;
  font-size: 50px;
}

#listafideus{
  width:90%;
  font-size: 20px;
  margin: 0 auto;
}

video{
  height:100;
  width:90%;
  margin: 0 auto;

}

#recetafideus{
  font-size: 20px;
  height:450px;
  width:100%;
  margin: 0 auto;
  margin-top: 70px;
  padding-right: 40px;

}

#contfideusdos{
  height:700px;
}

#titpals{
  height:200px;
  font-size: 50px;
}

#listapals{
  width:90%;
  font-size: 20px;
  margin: 0 auto;
}

video{
  height:100;
  width:90%;
  margin: 0 auto;

}

#recetapals{
  font-size: 20px;
  height:450px;
  width:100%;
  margin: 0 auto;
  margin-top: 70px;
  padding-right: 40px;

}

#contpalosdos{
  height:700px;
}

#titpoke{
  height:100px;
  font-size: 50px;
}

#listapoke{
  width:90%;
  font-size: 20px;
  margin: 0 auto;
}

video{
  height:100;
  width:90%;
  margin: 0 auto;

}

#recetapoke{
  font-size: 20px;
  height:400px;
  width:100%;
  margin: 0 auto;
  margin-top: 70px;
  padding-right: 40px;

}

#contpokedos{
  height:700px;
}

#titpollo{
  height:200px;
  font-size: 50px;
}

#listapollo{
  width:90%;
  font-size: 20px;
  margin: 0 auto;
}

video{
  height:100;
  width:90%;
  margin: 0 auto;

}

#recetapollo{
  font-size: 20px;
  height:600px;
  width:100%;
  margin: 0 auto;
  margin-top: 70px;
  padding-right: 40px;

}

#contpollodos{
  height:700px;
}

#ingrepollo{
  background-image: url(FOTOS/INGREDIENTES/POLLOINGRE.JPG);
}


}
